main {
  max-width: 1000px;
  margin: 0 auto;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}

footer {
  background: #21374b;
  color: #e7dacb;
  font-family: 'Gill Sans', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  padding: 40px 0 20px 0;
  margin-top: 40px;
  text-align: center;
}

footer .button {
  margin-bottom: 40px;
  font-size: 20px;
}

footer .content {
  display: flex;
  max-width: 960px;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
}

footer .copyright {
  margin-top: 40px;
  color: rgba(231, 218, 203, 0.7);
  font-size: 14px;
}

.button {
  display: inline-block;
  padding: 8px 0;
  width: 180px;
  color: #e7dacb;
  border: 1px solid #e7dacb;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  transition: opacity 200ms;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 0px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  padding-right: 0px;
  margin: 0;
  display: inline-block;
  padding-right: 80px;
}

footer nav a:hover,
footer .copyright a:hover {
  color: #27ae60;
}
footer nav a,
footer .copyright a {
  color: #e7dacb;
  text-decoration: none;
  transition: color 125ms;
  line-height: 1.7em;
}
